
.vector-animation {
    position: absolute; /* Cambia a posición absoluta */
    top: 0; /* Alinea al borde superior */
    right: 0; /* Alinea al borde derecho */
    /* Si deseas agregar un margen desde la esquina, puedes usar margin o padding */
}

.vector-animation img {
  transition: transform 0.3s ease, filter 0.3s ease; /* Transiciones suaves para transformaciones y filtros */
}

.vector-animation img:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}

.vector-animation-left {
  position: absolute; /* Cambia a posición absoluta */
  top: 0; /* Alinea al borde superior */
  left: 0; /* Alinea al borde izquierdo */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: auto; /* Mantiene el ancho automático para evitar distorsiones */
  margin-left: 250px; /* Elimina márgenes para que ocupe toda la altura */
}

.vector-animation-left img {
  height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
  width: auto; /* Mantiene el aspecto del SVG */
  transition: transform 0.3s ease, filter 0.3s ease; /* Transiciones suaves para transformaciones y filtros */
}

.vector-animation-left img:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}
