
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .nav ul li {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: var(--color-nav-text);
    font-size: 1.2rem;
    display: block;
    padding: 10px;
    transition: background 0.3s, color 0.3s;
  }
  
  .nav ul li a:hover {
    background-color: var(--color-accent);
    color: var(--color-sidebar);
  }