:root {
  /* Colores principales */
  --color-background: #f5f5f5;
  --color-text: #E24031;
  --color-sidebar: #f5f5f5;
  --color-sidebar-text: #f5f5f5;
  --color-accent: #EEB8C3;
  --color-accent-hover: #EEB8C3;
  --color-nav-text: #E24031;

  /* Colores de secciones */
  --color-landing-background: #f5f5f5;
  --color-landing-text: #E24031;
  --color-landing-button-border:#E24031;
  --color-landing-button-hover:#EEB8C3;

  --color-landing-button-text-hover: #f5f5f5;

  --carousel-text-color: #E24031;
  --carousel-hover-bg-color: #EEB8C3;

  /* Colores de formulario */
  --color-form-border: #EEB8C3;
  --color-form-button: #E24031;
  --color-form-button-text: #f5f5f5;
  --color-form-button-hover: #EEB8C3;

  /* Colores de footer */
  --color-footer-background: #E24031;
  --color-footer-text: #EEB8C3;
}

/* Dark Mode */
.dark,
:root[class~="dark"] {
  /* Colores principales */
  --color-background: #1a1a1a;  
  --color-text: #ff6b5b;  
  --color-sidebar: #2a2a2a;  
  --color-sidebar-text: #ffffff;  

  /* Colores de acento */
  --color-accent: #ff8c9d;  
  --color-accent-hover: #ff8c9d;  

  /* Colores de navegación */
  --color-nav-text: #ff6b5b;  

  /* Colores de secciones */
  --color-landing-background: #1a1a1a;  
  --color-landing-text: #ff6b5b;  
  --color-landing-button-border: #ff6b5b; 
  --color-landing-button-hover: #ff8c9d;  

  --color-landing-button-text-hover: #1a1a1a;  

  /* Colores de formulario */
  --color-form-border: #ff6b5b;  
  --color-form-button: #ff8c9d;  
  --color-form-button-text: #ffffff; 
  --color-form-button-hover: #ff6b5b;  

  /* Colores de footer */
  --color-footer-background: #1a1a1a;  
  --color-footer-text: #ff6b5b;  
}
