/* Basic reset for consistent margins and paddings */
           
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif; /* Cambié a Open Sans */
    min-height: 100vh;
    background-color: #C3E8BD; /* Color claro para el fondo */
    color: #040403; /* Texto oscuro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*  When the body has display: flex;, 
    its children (header, footer, and main) become flex items. 
    Flex items do not expand to fill their container's width
    unless you explicitly set their width.
*/

main {
    width: 100%; /* Make sure it takes full width */
    flex: 1; /* Allow it to grow within the flex container */
}

header, footer {
    background-color: #5B7553; /* Color primario */
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

header {
    margin-bottom: 30px;
    padding: 20px 40px;
    background-color: var(--secondary);
}



h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
}

h3, h4 {
    color: #9DDBAD; /* Color para subtítulos */
}

a {
    color: #8EB897; /* Color de enlace */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Subrayar en hover */
}

article {
    margin-bottom: 40px;
    background-color: #C3E8BD; /* Fondo claro para artículos */
    padding: 20px 40px;
    border-radius: 10px;
    color: #040403; /* Texto oscuro */
}

blockquote {
    background-color: #eaeaea; /* Fondo gris para citas */
    border-left: 10px solid #5B7553; /* Borde color primario */
    margin: 20px 0;
    padding: 10px 20px;
}

cite {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--primary);
}

p {
    margin: 15px 0;
    line-height: 1.8;
}

.highlight {
    color: var(--primary);
}

.header-container h1 {
    font-size: 2.5em;
    color: var(--destructive);
    margin: 0;
    padding-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.toc {
    text-align: center;
    margin: 20px 0;
}

.toc a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: var(--muted);
    border-radius: 5px;
    color: var(--foreground);
    text-decoration: none;
}

.toc a:hover {
    background-color: var(--primary);
}

.final-section {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--muted);
    color: var(--foreground);
}

.final-section a {
    display: block;
    margin: 10px 0;
    color: var(--foreground);
    text-decoration: none;
    font-weight: bold;
}

.final-section a:hover {
    color: var(--accent);
}

table {
    display: block;
    margin: auto;
    
}

td:nth-child(even) {
    background-color: #9DDBAD; /* Fondo alternativo */
}
